:root{
    --bgDark : #03002e;
    --textColor : white;
  }
  *{
    font:10px
  }
  
  body{ background-color:var(--bgDark);
    color:var(--textColor);
    margin:0px auto;
    width:100%;
  }
   
  main{
    margin:3rem auto;
    width:90%;
    min-width:300px;
  }
  h1{
    font-size: 2rem;text-align:center;
  }
  form{
    margin:0px auto;
    width:80%;
    text-align:center;
  }
  label{
    display:block;
    font-size:1.2rem;
    margin:0 0 1.5rem 0
  }
  input{
    width:40%;
    max-width:10rem;
    font-size:1.5rem;
    font-weight:bold;
    padding:5px;
  }
  button{
    font-size:1.5rem;
    padding:5px 10px;
    font-weight:bold;
    border-radius:0 15px 15px 0;
    color:rgb(255, 170, 0);
    background-color:var(--bgdark);
    border:1px solid white;
  }
  
  #output{
    background-color: white;
    color:black;
    font-size :1.5rem;
    font-weight:bold;
    width:60%;
    margin:1.5rem auto;
    max-width:10rem;
    height:2rem;
    padding:5px;
  }